@charset "UTF-8";

@media screen and (max-width: 1080px) {
  .logo {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .menu--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-select {
    display: flex;
    flex-direction: column;
  }

  .mainNavigation--text {
    font-size: 4rem;
   }

   .mainNavigation--paragrafo {
    width: 35%;
   }
}

@media screen and (max-width: 676px) {
  .mainNavigation--text {
    font-size: 2rem;
  }

}

@media screen and (max-width: 500px) {

.mainNavigation--text {
  margin-top: 3rem;
  font-size: 3rem;
}

.mainNavigation--textP {
  padding-left: 7%;
}

  .mainNavigation--paragrafo {
    width: 50vw;
    padding-top: 1rem;
  }

  .mainNavigation__alerta--text {
    width: 100%;
  }
  
  .mainNavigation__alerta--text2 {
    width: 100%;
  }

  .mainNavigation__alerta--text--icon2 a {
    width: 100%;
  }

  .mainNavigation__content--child {
    width: 90%;
  }

  .helpInfo--button {
    text-align: center;
    width: 90%;
  }

  .rodape--flex {
display: flex;
flex-direction: column;
  }

  .rodape {
    margin-bottom: 3rem;
  }

  .infooter {
    height: 8vh;
  }

  .infooter p {
    padding-top: 1rem;
    margin-left: 3rem;
    width: 75%;
  }

  .rodafooter {
    padding-bottom: .5rem;
  }
}